@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    width: 75%;
    text-align: center;
    
}

.header h1 {
    text-transform: uppercase;
}

.image-container {   
    clip-path: circle(50% at 50% 50%);
    background-image: url('../img/profile1.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 450px;
    margin: 2rem auto;  
}

.navigation ul li {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
    width: 16rem;
    margin: 3rem 0;
}

.navigation ul li:not(:last-child) {
    margin-right: 6rem;
}


.main-container {
    margin: 0 auto;
    width: 75%;
}

.main-container div {
    margin-bottom: 2rem;
}

.main-container h1 {
    margin-bottom: 5rem;
}

.main-container p {
    text-align: justify;
}

.footer {
    font-size: 2rem;
    padding: 2rem;
}

.footer ul {
    list-style: none;
    margin-bottom: 3rem;
}

.footer ul li {
    display: inline-block;
    margin: 2rem;
}

.footer ul a {
    color: #777;
    text-decoration: none;
}


@media (min-width: 480px) {
    .image-container {
        background-image: url('../img/profile1.jpg');
        display: block;
    }


    .container {
        width: 100%;
        background-color: #FAF5E9;
        color: #009B4D;
    }
    

    .navigation ul li {
        display: block;
        font-size: 1rem;
        margin: 0;
        width: 100%;
        border: 1px solid #FFCC00;

    }
    .navigation ul li:not(:last-child) {
        border-bottom: none;
    }
    

    .main-container {
        padding: 0.75rem;
        width: 100%;
    }

    .main-container h1 {
        margin: 1rem auto;
    }
    
}


@media (min-width: 768px) {
    .image-container {
        background-image: url('../img/profile2.jpg');
        display: block;
    }

    .container {
        width: 100%;
        background-color: #F9B872;
        color: #275ee9;
    }

    .navigation ul li {
        display: block;
        font-size: 1rem;
        margin: 0;
        width: 100%;
        border: 1px solid #FAE7A5;

    }

}


@media (min-width: 1024px){
    .image-container {
        background-image: url('../img/profile3.jpg');
        display: block;
    }    

    .container {
        width: 100%;
        background-color: #6E6E6E;
        color: #FFFFFF;
    }

    .navigation ul li {
        display: block;
        font-size: 1rem;
        margin: 0;
        width: 100%;
        border: 1px solid #BAFF39;

    }

}


@media (min-width: 1200px){

    .image-container {
        background-image: url('../img/profile4.jpg');
        display: block;
    } 

    .container {
        width: 100%;
        background-color: #0A1828;
        color: #BFA181;
    }
    
    .header h1 {
        margin: 3rem auto;
    }
    .navigation ul li {
        display: inline-block;
        width: 16rem;
        border: 1px solid #178582;
    }
    
    .navigation ul li:not(:last-child) {
        border-bottom: 1px solid #178582;
        margin-right: 4rem;
    }

    .main-container {
        width: 75%;
    }

}


